@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './bootstrap/scss/bootstrap.scss';

/* 
---------------------------------------------
var
--------------------------------------------- 
*/

:root {
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (2560 - 320));
	--white :  rgba(255, 255, 255, 0.87);
	--main-color : #2124B1;
  --blue-color: #03a4ed;
  --button-color: #1979C9;
  --dark-blue: #252641;
  --primary-blue-color: #49BBBD;
  --secondary-blue-color: rgba(71, 187, 189, 0.6);
  --color-golden: #DCCA87;
  --color-black: #0C0C0C;
  --color-black-with-opacity: rgba(12, 12, 12, 0.2);
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
  --grey: #43454d;
  font-family: Poppins, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --pc-size: calc(1000px + 10 * (100vw - 320px) / (2560 - 320));
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #1e1e1e;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 28px;
  color: #4a4a4a;
}

img {
  width: 100%;
  overflow: hidden;
}

a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 4rem 6rem;
}

/* 
---------------------------------------------
header
--------------------------------------------- 
*/

.app__header {
  background-color: var(--dark-blue);
  min-width: fit-content;
}

.app__header-h1 {
  color: var(--color-golden);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 100px;
  font-size: 60px;
}

.app__header-img img {
  width: 80%;
}

@media screen and (min-width: 2000px) {
  .app__header-h1 {
      font-size: 180px;
      line-height: 210px;
  }
}

@media screen and (max-width: 1150px) {
  .app__header-h1 {
      font-size: 90px;
  }
}

@media screen and (max-width: 650px) {
  .app__header-h1 {
      font-size: 70px;
      line-height: 87px;
  }
}

@media screen and (max-width: 450px) {
  .app__header-h1 {
      font-size: 50px;
      line-height: 70px;
  }
}

/* 
---------------------------------------------
main
--------------------------------------------- 
*/

.app_without_bg {
  background: var(--color-black);
  display: flex;
  flex-direction: column;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg {
  background: var(--button-color);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.custom__button {
  background-color: var(--color-crimson);
    color: var(--color-black);
     
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 1px;
    border: none;
    outline: none;
    cursor: pointer;
}

.p__cormorant {
   
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 23px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.headtext__cormorant {
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  text-align: center;
}

@media screen and (min-width: 2000px) {
  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  
  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
  }

  .p__cormorant {
    font-size: 19px;
  }

  .headtext__cormorant {
    font-size: 45px;
    line-height: 70px;
  }
}

.list_annees {
  background-color: var(--color-black);
  padding: 15px 10px;
  margin: 20px auto;
  border-radius: 30px;
  color: var(--white);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  min-width: 500px;
  max-width: 600px;
}

@media screen and (max-width: 550px) {
  .list_annees {
    min-width: 200px;
    padding: 15px 7px;
    margin: 10px auto;
  }
}


.list_annees > li > a {
  padding: 10px 20px;
  border-radius: 20px;
}

.list_annees > li > a.is_active {
  background-color: rgb(0, 0, 0);
  color: var(--color-golden)
}

.modules_part {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  padding: 2px;
}

.module__ {
  background-color: var(--color-black);
  width: 320px;
  margin: 0 15px 20px;
  padding: 0;
  border-radius: 10px;
  min-height: 400px;
  height: fit-content;

}

.module__ > div.image {
  position: relative;
  height: 320px;
  width: 320px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  background: url('../assets/images/course.png');
  background-position: center;
  background-size: 140%;
  background-repeat: no-repeat;
  transition: all .5s;
  padding: 17px 10px;
}

.module__:hover > div.image {
  background-size: 200%;
  cursor: pointer;
}

.module__ > .image > .niveau {
  background-color: var(--white);
  color: var(--dark-blue);
  padding: 7px 20px;
  border-radius: 12px;
}

.module__ > p {
  color: var(--color-golden);
  padding: 10px 20px 0;
  font-size: 14px;
}

.module__ > h1 {
  color: var(--white);
  padding: 10px 20px;
  font-size: 24px;
}



@media screen and (max-width: 400px) {
  .module__ {
    width: 240px;
  }

  .module__ > div.image {
    height: 240px;
    width: 240px;
  }

  .module__ > p {
    font-size: 10px;
  }

  .module__ > h1 {
    font-size: 19px;
  }
}

.app__professors-images {
  max-width: 98%;
  position: relative;
}

.app__professors-images_container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: max-content;
  overflow-x: scroll;
  -ms-overflow-style: none;
}

.app__professors-images_container::-webkit-scrollbar {
  display: none;
}

.app__professors-images_card {
  position: relative;
  min-width: 301px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 2rem;
  cursor: pointer;
}

.app__professors-images_card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: .5s ease;
}

.app__professors-images_card:hover > img {
  opacity: .5;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

.app__professors-images_arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 10;
  position: absolute;
  bottom: 5%;
}

.professors__arrow-icon {
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
  background: var(--main-color);
  border-radius: 5px;
}

@media screen and (min-width: 2000px) {
  .app__professors-images_card {
      min-width: 400px;
      height: 547px;
  }
}

@media screen and (max-width: 1150px) {
  .app__professors {
      flex-direction: column;
  }

  .app__professors-images {
      max-width: 100%;
      margin: 5rem 0;
  }
}

@media screen and (max-width: 850px) {
  .app__professors {
      padding: 4rem 0 4rem 4rem;
  }
}

@media screen and (max-width: 650px) {
  .app__professors {
      padding: 4rem 0 4rem 2rem;
  } 

  .app__professors-images_card {
      min-width: 240px;
      height: 320px;
  }
}

.about-us {
  position: relative;
  padding: 50px;
  overflow: hidden;
  background-color: var(--main-color);
  min-width: 1060px;
  margin: 0;
  border-radius: 120px;
}

@media screen and (max-width: 1100px) {
  .about-us {
    min-width: 800px;
  }
}

@media screen and (max-width: 850px) {
  .about-us {
    min-width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .about-us {
    min-width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .about-us {
    min-width: 250px;
  }
}

.about-us::before,
.about-us::after,
.footer::after {
  content: '';
  z-index: 2;
  background: url(../assets/images/more-info-01.png);
  position: absolute;
  opacity: 0.5;
  width: 318px;
  height: 119px;
}

.about-us::before {
  right: 10%;
  bottom: 0;
  transform: rotateX(180deg);
}

.about-us::after,
.footer::after {
  left: 10%;
  top: 0;
}

.about-us .number-elements {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about-us .number-elements .element {
  margin: 10px;
}

.about-us h2 {
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
}

.about-us h2::before {
  content: '+';
  margin-right: 8px;
}

.about-us p {
  color: var(--white);
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
}


@media (max-width: 992px) {
  .about-us {
    margin-top: 50px;
  }
}

.footer {
  background-color: rgba(12, 12, 12, .8);
  padding: 80px 20px 20px;
  position: relative;
  border-radius: 30px 30px 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.footer > a {
  padding: 10px;
  text-transform: uppercase;
  font-size: 28px;
}

.footer > a:hover {
  cursor: pointer;
}

/* 
---------------------------------------------
profile
--------------------------------------------- 
*/










/* owl file */

/* .owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1; } */

  /* .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;} */
  /* .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; } */
  /* .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px); } */
  /* .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); } */
  /* .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; } */
  /* .owl-carousel .owl-item img {
    display: block;
    width: 100%; } */
  /* .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; } */
  /* .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; } */
  /* .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
   .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }  */
  /* .owl-carousel.owl-loaded {
    display: block; } */
  /* .owl-carousel.owl-loading {
    opacity: 0;
    display: block; } */
  /* .owl-carousel.owl-hidden {
    opacity: 0; } */
  /* .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; } */
  /* .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; } */
  /* .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; } */
  /* .owl-carousel.owl-rtl {
    direction: rtl; } */
  /* .owl-carousel.owl-rtl .owl-item {
    float: right; } */

/* No Js */
/* .no-js .owl-carousel {
  display: block; } */

/*
 *  Owl Carousel - Animate Plugin
 */
/* .owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; } */

/* .owl-carousel .owl-animated-in {
  z-index: 0; } */

/* .owl-carousel .owl-animated-out {
  z-index: 1; } */

/* .owl-carousel .fadeOut {
  animation-name: fadeOut; } */

/* @keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } } */

/*
 * 	Owl Carousel - Auto Height Plugin
 */
/* .owl-height {
  transition: height 500ms ease-in-out; } */


  /* .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; } */
  /* .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; } */
  /* .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; } */

/* .owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; } */

/* .owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; } */

/* .owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); } */

/* .owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; } */

/* .owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; } */

/* .owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; } */




















  /* space dynamic file  */
 
/* ---------------------------------------------
Table of contents
------------------------------------------------
02. reset
03. global styles

05. banner
06. features
07. testimonials
08. contact
09. footer
10. preloader
11. search
12. portfolio

--------------------------------------------- */

/* 
---------------------------------------------
reset
--------------------------------------------- 
*/


/* clear fix */
/* .grid:after {
  content: '';
  display: block;
  clear: both;
} */

/* ---- .grid-item ---- */

/* .grid-sizer,
.grid-item {
  width: 50%;
} */

/* .grid-item {
  float: left;
} */

/* .grid-item img {
  display: block;
  max-width: 100%;
} */

/* .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
} */

/* .clearfix {
  display: inline-block;
} */

/* html[xmlns] .clearfix {
  display: block;
} */

/* * html .clearfix {
  height: 1%;
} */

/* ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
} */

/* header, nav, section, article, aside, footer, hgroup {
  display: block;
} */

/* * {
  box-sizing: border-box;
} */

/* html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* a {
  text-decoration: none !important;
} */

/* h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
} */

/* ul {
  margin-bottom: 0px;
} */

/* p {
  font-size: 15px;
  line-height: 30px;
  color: #2a2a2a;
} */

/* img {
  width: 100%;
  overflow: hidden;
} */

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
/* html,
body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
} */

/* ::selection {
  background: #03a4ed;
  color: #fff;
} */

/* ::-moz-selection {
  background: #03a4ed;
  color: #fff;
} */

/* @media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
} */

/* .page-section {
  margin-top: 120px;
} */

/* .section-heading h2 {
  font-size: 30px;
  text-transform: capitalize;
  color: #2a2a2a;
  font-weight: 700;
  letter-spacing: 0.25px;
  position: relative;
  z-index: 2;
  line-height: 44px;
} */

/* .section-heading h2 em {
  font-style: normal;
  color: #03a4ed;
} */

/* .section-heading h2 span {
  color: #fe3f40;
} */

/* .main-blue-button a {
  display: inline-block;
  background-color: #03a4ed;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
} */

/* .main-red-button a {
  display: inline-block;
  background-color: #fe3f40;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
} */

/* .main-white-button a {
  display: inline-block;
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
  color: #fe3f40;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
} */

/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

/* .main-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 226px 0px 120px 0px;
  position: relative;
  overflow: hidden;
} */

/* .main-banner:after {
  content: '';
  background-image: url(../images/baner-dec-left.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 100px;
  width: 193px;
  height: 467px;
} */

/* .main-banner:before {
  content: '';
  background-image: url(../images/baner-dec-right.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 100px;
  width: 98px;
  height: 290px;
} */

/* .main-banner .left-content {
  margin-right: 45px;
} */

/* .main-banner .left-content h6 {
  text-transform: uppercase;
  font-size: 18px;
  color: #fe3f40;
  margin-bottom: 15px;
} */

/* .main-banner .left-content h2 {
  font-size: 50px;
  font-weight: 700;
  color: #2a2a2a;
  line-height: 72px;
} */

/* .main-banner .left-content h2 em {
  color: #03a4ed;
  font-style: normal;
} */

/* .main-banner .left-content h2 span {
  color: #fe3f40;
} */

/* .main-banner .left-content p {
  margin: 20px 0px;
} */

/* .main-banner .left-content form {
  margin-top: 30px;
  width: 470px;
  height: 66px;
  position: relative;
} */

/* .main-banner .left-content form button {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  background-color: #fff;
  font-size: 15px;
  font-weight: 500;
  color: #fe3f40;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  outline: none;
  border: none;
} */

/* .main-banner .left-content form input {
  width: 470px;
  height: 66px;
  background-color: #03a4ed;
  border-radius: 33px;
  border: none;
  outline: none;
  padding: 0px 25px;
  color: #fff;
  letter-spacing: 0.25px;
  font-size: 15px;
  font-weight: 300;
} */

/* .main-banner .left-content form input::placeholder {
  color: #fff;
} */



/* 
---------------------------------------------
About Us Style
--------------------------------------------- 
*/

/* #about {
  margin-top: 120px;
} */

/* .about-us {
  background-image: url(../images/about-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 140px 0px 120px 0px;
} */

/* .about-us .left-image {
  margin-right: 45px;
} */

/* .about-us .services .item {
  margin-bottom: 30px;
} */

/* .about-us .services .item .icon {
  float: left;
  margin-right: 25px;
} */

/* .about-us .services .item .icon img {
  max-width: 70px;
} */

/* .about-us .services .item h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
} */

/* .about-us .services .item p {
  color: #fff;
} */


/* 
---------------------------------------------
Services Style
--------------------------------------------- 
*/

/* .our-services {
  margin-top: 0px;
  padding-top: 120px;
} */

/* .our-services .left-image {
  margin-right: 45px;
} */

/* .our-services .section-heading h2 {
  margin-right: 100px;
} */

/* .our-services .section-heading p {
  margin-top: 30px;
  margin-bottom: 60px;
} */

/* .our-services .progress-skill-bar {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
} */

/* .our-services .progress-skill-bar span {
  position: absolute;
  top: 0;
  font-size: 18px;
  font-weight: 600;
  color: #03a4ed;
} */

/* .our-services .first-bar span {
  left: 69%;
} */

/* .our-services .second-bar span {
  left: 81%;
} */

/* .our-services .third-bar span {
  left: 88%;
} */

/* .our-services .progress-skill-bar h4 {
  font-size: 18px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 14px;
} */

/* .our-services .progress-skill-bar .full-bar {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #f7eff1;
  position: relative;
  z-index: 1;
} */

/* .our-services .progress-skill-bar .filled-bar {
  background: rgb(255,77,30);
  background: linear-gradient(105deg, rgba(255,77,30,1) 0%, rgba(255,44,109,1) 100%);
  height: 6px;
  border-radius: 3px;
  margin-bottom: -6px;
  position: relative;
  z-index: 2;
} */

/* .our-services .first-bar .filled-bar {
  width: 71%;
} */

/* .our-services .second-bar .filled-bar {
  width: 83%;
} */

/* .our-services .third-bar .filled-bar {
  width: 90%;
} */


/* 
---------------------------------------------
Portfolio
--------------------------------------------- 
*/

/* .our-portfolio {
  padding-top: 120px;
  margin-top: 0px;
} */

/* .our-portfolio .section-heading h2 {
  text-align: center;
  margin: 0px 90px 0px 90px;
  margin-bottom: 120px;
  position: relative;
  z-index: 1;
} */

/* .our-portfolio .item {
  position: relative;
} */

/* .our-portfolio .item:hover .hidden-content {
  top: -100px;
  opacity: 1;
  visibility: visible;
} */

/* .our-portfolio .item:hover .showed-content {
  top: 90px;
} */

/* .our-portfolio .hidden-content {
  background: rgb(255,77,30);
  background: linear-gradient(105deg, rgba(255,77,30,1) 0%, rgba(255,44,109,1) 100%);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  opacity: 0;
  top: 0;
  visibility: hidden;
  position: absolute;
  z-index: 2;
  transition: all 0.5s;
} */

/* .our-portfolio .hidden-content:after {
  width: 20px;
  height: 20px;
  position: absolute;
  background: rgb(255,77,30);
  content: '';
  left: 50%;
  bottom: -8px;
  margin-left: -5px;
  transform: rotate(45deg);
  background: linear-gradient(105deg, rgba(255,52,69,1) 0%, rgba(255,51,78,1) 100%);
  z-index: -1;
} */

/* .our-portfolio .hidden-content h4 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
} */

/* .our-portfolio .hidden-content p {
  color: #fff;
} */

/* .our-portfolio .showed-content {
  top: 0px;
  position: relative;
  z-index: 3;
  background-color: #fff;
  text-align: center;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  transition: all 0.5s;
} */

/* .our-portfolio .showed-content img {
  max-width: 100px;
} */


/* 
---------------------------------------------
Blog
--------------------------------------------- 
*/

/* .our-blog {
  position: relative;
  margin-top: 80px;
  padding-top: 120px;
} */

/* .our-blog .section-heading h2 {
  margin-right: 180px;
} */

/* .our-blog .top-dec {
  text-align: right;
  margin-top: -80px;
} */

/* .our-blog .top-dec img {
  max-width: 270px;
} */

/* .our-blog .left-image {
  position: relative;
} */

/* .our-blog .left-image img {
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
} */

/* .our-blog .left-image .info {
  position: relative;
} */

/* .our-blog .left-image .info .inner-content {
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  border-radius: 20px;
  margin-right: 75px;
  position: absolute;
  margin-top: -100px;
  padding: 30px;
} */

/* .our-blog .left-image ul li {
  display: inline-block;
  font-size: 15px;
  color: #afafaf;
  font-weight: 300;
  margin-right: 20px;
} */

/* .our-blog .left-image ul li:last-child {
  margin-right: 0px;
} */

/* .our-blog .left-image ul li i {
  color: #ff4d61;
  font-size: 16px;
  margin-right: 8px;
} */

/* .our-blog .left-image h4 {
  font-size: 20px;
  font-weight: 700;
  color: #2a2a2a;
  margin: 20px 0px 15px 0px;
} */

/* .our-blog .left-image .info .main-blue-button {
  position: absolute;
  bottom: -80px;
  left: 0;
} */

/* .our-blog .right-list {
  margin-left: 30px;
} */

/* .our-blog .right-list ul li {
  display: inline-flex;
  width: 100%;
  margin-bottom: 30px;
} */

/* .our-blog .right-list .left-content {
  margin-right: 45px;
} */

/* .our-blog .right-list .left-content span {
  font-size: 15px;
  color: #afafaf;
  font-weight: 300;
} */

/* .our-blog .right-list .left-content span i {
  color: #ff4d61;
  font-size: 16px;
  margin-right: 8px;
} */

/* .our-blog .right-list .left-content h4 {
  font-size: 20px;
  font-weight: 700;
  color: #2a2a2a;
  margin: 20px 0px 15px 0px;
} */


/* .our-blog .right-list .right-image img {
  width: 250px;
  border-radius: 20px;
} */


/* 
---------------------------------------------
contact
--------------------------------------------- 
*/

/* .contact-us {
  padding: 160px 0px;
  background-image: url(../images/contact-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
} */

/* .contact-us .section-heading h2,
.contact-us .section-heading h2 em,
.contact-us .section-heading h2 span {
  color: #fff;
} */

/* .contact-us .section-heading p {
  color: #fff;
  margin-top: 30px;
} */

/* .phone-info {
  margin-top: 40px;
} */

/* .phone-info h4 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
} */

/* .phone-info h4 span i {
  width: 46px;
  height: 46px;
  display: inline-block;
  text-align: center;
  line-height: 46px;
  background-color: #fff;
  border-radius: 50%;
  color: #ff3b2c;
  font-size: 22px;
  margin-left: 30px;
  margin-right: 15px;
} */

/* .phone-info h4 span a {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
} */

/* form#contact .contact-dec {
  position: absolute;
  right: -166px;
  bottom: 0;
} */

/* form#contact .contact-dec img {
  max-width: 178px;
} */

/* form#contact {
  margin-left: 30px;
  position: relative;
  background-color: #fff;
  padding: 60px 30px;
  border-radius: 20px;
} */

/* form#contact input {
  width: 100%;
  height: 46px;
  border-radius: 33px;
  background-color: #d1f3ff;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 0px 20px;
  margin-bottom: 20px;
} */

/* form#contact input::placeholder {
  color: #2a2a2a;
} */

/* form#contact textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 180px;
  min-height: 140px;
  height: 140px;
  border-radius: 20px;
  background-color: #d1f3ff;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 15px 20px;
  margin-bottom: 20px;
} */

/* form#contact textarea::placeholder {
  color: #2a2a2a;
} */

/* form#contact button {
  display: inline-block;
  background-color: #03a4ed;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  border: none;
  outline: none;
  transition: all .3s;
} */

/* form#contact button:hover {
  background-color: #fe3f40;
} */


/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

/* footer p {
  text-align: center;
  margin: 30px 0px 45px 0px;
} */

/* footer p a {
  color: #fe3f40;
} */

/* 
---------------------------------------------
responsive
--------------------------------------------- 
*/

/* @media (max-width: 1645px) {
  form#contact .contact-dec {
    display: none;
  }
} */

/* @media (max-width: 992px) {
  .main-banner {
    padding-top: 196px;
  }
  .main-banner .left-content {
    margin-right: 0px;
    text-align: center;
    margin-bottom: 45px;
  }
  .main-banner:after {
    top: 76px;
    z-index: -1;
  }
  .main-banner .left-content form,
  .main-banner .left-content form input {
    width: 100%!important;
  }
  #about {
    margin-top: 0px;
  }
  .about-us {
    position: relative;
    background-image: none;
    padding: 0px;
  }
  .about-us .left-image {
    margin-right: 0px;
    position: absolute;
    bottom: -220px;
    right: 0;
  }
  .about-us .services {
    text-align: center;
  }
  .about-us .services .item  {
    background: rgb(255,77,30);
    background: linear-gradient(105deg, rgba(255,77,30,1) 0%, rgba(255,44,109,1) 100%);
    padding: 30px;
    border-radius: 20px;
    display: inline-block;
  }
  .about-us .services .item .right-text {
    text-align: left;
  }
  .our-services {
    margin-top: 200px;
  }
  .our-services .left-image {
    margin-right: 0px;
    margin-bottom: 45px;
  }
  .our-services .section-heading h2,
  .our-services .section-heading p {
    margin-right: 0px;
    text-align: center;
  }
  .our-portfolio .section-heading h2 {
    margin: 0px 0px 80px 0px;
  }
  .our-portfolio .item {
    margin-bottom: 15px;
  }
  .our-blog {
    margin-top: 0px;
  }
  .our-blog .top-dec {
    display: none;
  }
  .our-blog .section-heading h2 {
    margin-right: 0px;
    text-align: center;
    margin-bottom: 45px;
  }
  .our-blog .left-image .info .inner-content {
    position: relative;
    margin-right: 0px;
  }
  .our-blog .left-image .info .main-blue-button {
    position: relative;
    bottom: 0px;
    margin-top: 30px;
  }
  .our-blog .left-image {
    margin-bottom: 45px;
  }
  .contact-us {
    margin-top: 60px;
    padding: 120px 0px;
  }
  .contact-us .section-heading {
    text-align: center;
  }
  form#contact {
    margin-left: 0px;
    margin-top: 30px;
  }
  form#contact .contact-dec {
    display: none;
  }
  footer p {
    margin: 15px 0px 30px 0px;
  }
} */

/* @media (max-width: 767px) {
  .about-us .left-image {
    bottom: -280px;
  }
  .our-blog .right-list {
    margin-left: 0px;
  }
  .our-blog .right-list ul li {
    display: inline-block;
    margin-top: 0px;
    padding-top: 30px;
    border-top: 1px solid #eee;
  }
  .our-blog .right-list .left-content {
    margin-right: 0px;
    width: 100%;
    margin-bottom: 15px;
  }
  .our-blog .right-list .right-image,
  .our-blog .right-list .right-image img {
    width: 100%;
  }
  .phone-info h4 span {
    display: block;
    margin-top: 15px;
  }
  .phone-info h4 span i {
    margin-left: 0px;
  }
} */


/********** Template CSS **********/
:root {
  --primary: #2124B1;
  --secondary: #4777F5;
  --light: #F7FAFF;
  --dark: #1D1D27;
}


/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}


/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
  font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
  font-weight: 500 !important;
}


/*** Button ***/
.btn {
  font-weight: 500;
  transition: .5s;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

/*** Hero Header ***/
.hero-header {
  background:
      url(../assets/images/bg-dot.png),
      url(../assets/images/bg-dot.png),
      url(../assets/images/bg-round.png),
      url(../assets/images/bg-tree.png),
      url(../assets/images/bg-bottom-hero2.png);
  background-position:
      10px 10px,
      bottom 190px right 10px,
      left 55% top -1px,
      left 45% bottom -1px,
      center bottom -1px;
  background-repeat: no-repeat;
}


/*** Section Title ***/
.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 4px;
  bottom: 0;
  left: 0;
  background: var(--dark);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  bottom: 0;
  left: 50px;
  background: var(--dark);
}

.section-title.text-center::before {
  left: 50%;
  margin-left: -25px;
}

.section-title.text-center::after {
  left: 50%;
  margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 2px;
  left: 0;
  background: rgba(33, 66, 177, .5);
}

.section-title h6::after {
  top: 5px;
  left: 3px;
}


/*** Service ***/
.service-item {
  position: relative;
  height: 350px;
  padding: 30px 25px;
  background: #FFFFFF;
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  transition: .5s;
}

.service-item:hover {
  background: var(--primary);
}

.service-item .service-icon {
  margin: 0 auto 20px auto;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  background: url(../assets/images/icon-shape-primary.png) center center no-repeat;
  transition: .5s;
}

.service-item:hover .service-icon {
  color: var(--primary);
  background: url(../assets/images/icon-shape-white.png);
}

.service-item h5,
.service-item p {
  transition: .5s;
}

.service-item:hover h5,
.service-item:hover p {
  color: var(--light);
}

.service-item a.btn {
  position: relative;
  display: flex;
  color: var(--primary);
  transition: .5s;
  z-index: 1;
}

.service-item:hover a.btn {
  color: var(--primary);
}

.service-item a.btn::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
  border-radius: 35px;
  background: #DDDDDD;
  transition: .5s;
  z-index: -1;
}

.service-item:hover a.btn::before {
  width: 100%;
  background: var(--light);
}


/*** Testimonial ***/
.newsletter,
.testimonial {
  background:
      url(../assets/images/bg-top.png),
      url(../assets/images/bg-bottom.png);
  background-position:
      left top,
      right bottom;
  background-repeat: no-repeat;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
  transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--light) !important;
  border-color: var(--light);
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: #888888;
}

.testimonial-carousel .owl-item.center .testimonial-item i {
  color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item h6 {
  color: var(--dark) !important;
}


/*** Team ***/
.team-item {
  position: relative;
  transition: .5s;
  z-index: 1;
  padding-right: 50px;
  text-wrap: wrap;
  overflow: hidden;
}

.team-item::after {
  position: absolute;
  content: "";
  top: 3rem;
  right: 3rem;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0 0 45px rgba(0, 0, 0, .1);
  transition: .5s;
  z-index: -1;
}

.team-item:hover::after {
  background: var(--primary);
}

.team-item h5,
.team-item small {
  transition: .5s;
}

.team-item:hover h5,
.team-item:hover small {
  color: var(--light);
}


/*** Project Portfolio ***/
#portfolio-flters .btn {
  position: relative;
  display: inline-block;
  margin: 10px 4px 0 4px;
  transition: .5s;
}

#portfolio-flters .btn::after {
  position: absolute;
  content: "";
  right: -1px;
  bottom: -1px;
  border-left: 20px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 50px solid #FFFFFF;
}

#portfolio-flters .btn:hover,
#portfolio-flters .btn.active {
  color: var(--light);
  background: var(--primary);
}

.portfolio-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  top: 0;
  left: 0;
  background: var(--primary);
  transition: .5s;
  z-index: 1;
  opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
}

.portfolio-item .btn,
.add-comm {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/images/icon-shape-white.png) center center no-repeat;
  border: none;
  transition: .5s;
  opacity: 0;
  z-index: 2;
}

.add-comm {
  opacity: 1;
  background: url(../assets/images/icon-shape-primary.png) center center no-repeat;
  background-size: 80%;
}

.portfolio-item:hover .btn {
  opacity: 1;
  transition-delay: .15s;
}

/*** Footer ***/
.footer {
  background: url(../assets/images/footer.png) center center no-repeat;
  background-size: contain;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid rgba(256, 256, 256, .1);
  border-radius: 40px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  color: var(--light);
  font-weight: normal;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 14px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

div .element-link {
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
  opacity: .7;
}

div .element-link::before {
  content: attr(data-text);
    position: absolute;
    color: var(--main-color);
    left: 0;
    top: -10px;
    padding: 10px 0;
    width: 0;
    overflow: hidden;
    border-bottom: 2px solid var(--main-color);
    white-space: nowrap;
    transition: .4s;
}

.element-link:hover::before  {
  width: 100%;
}

div.scrolled .element-link::before  {
  border-bottom: 2px solid var(--color-white);
  color: var(--color-white);
}

.element-link:hover {
  opacity: 1;
}

div .active-link::before {
  position: absolute;
  left: 0;
  top: -10px;
  padding: 10px 0;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
  transition: .4s;
}

div.scrolled > .active-link::before {
  border-bottom: 2px solid var(--color-white);
  color: var(--color-white);
}

div .active-link {
  opacity: 1;
}

::selection {
  background: var(--main-color);
  color: #fff;
}

::-moz-selection {
  background: var(--main-color);
  color: #fff;
}

.section {
  padding-top: 0;
  margin-top: 10px;
}

.events .item {
  background-color: #f1f0fe;
  border-radius: 25px;
  position: relative;
  padding: 40px;
  margin-bottom: 96px;
}

.events .item .image {
  position: relative;
}

.events .item .image img {
  position: absolute;
  border-radius: 25px;
  max-width: 260px;
  left: 0;
  top: -70px;
}

.events .item ul li {
  display: inline-block;
  width: 17.5%;
  vertical-align: middle;
}

.events .item ul li:first-child {
  width: 35%;
}

.events .item ul li:nth-of-type(2) {
  width: 28%;
}

.events .item ul li span.category {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: #fff;
  padding: 8px 20px;
  border-radius: 25px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 20px;
}

.events .item ul li h4 {
  font-size: 22px;
  font-weight: 600;
}

.events .item ul li span {
  display: inline-block;
  font-size: 14px;
  color: #4a4a4a;
  margin-bottom: 10px;
}

.events .item ul li h6 {
  font-size: 16px;
  color: var(--main-color);
  font-weight: 600;
}

.events .item a {
  position: absolute;
  right: 0;
  top: 22px;
  background-color: var(--main-color);
  width: 60px;
  height: 120px;
  display: inline-block;
  text-align: center;
  line-height: 120px;
  font-size: 18px;
  z-index: 1;
  color: #fff;
  border-radius: 60px 0px 0px 60px;
}

@media (max-width: 992px) {
  .events {
    margin-top: 80px;
  }
  .events .item {
    margin-bottom: 66px;
  }
  .events .item .image img {
    position: relative;
    max-width: 100%;
  }
  .events .item ul {
    margin-top: -40px;
  }
  .events .item ul li:first-child {
    width: 100% !important;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
  }
  .events .item ul li:nth-child(2) {
    width: 40% !important;
  }
  .events .item ul li {
    display: inline-block;
    width: 28% !important;
  }
  .events .item ul li:last-child {
    text-align: right;
  }
  .events .item a {
    bottom: 150px;
    top: auto;
  }
  .events .item ul li h6 {
    font-size: 14px;
  }
  .cohorte-inside-style {
    margin-top: 100px;
  }
  .cohorte-inside-style .section-heading {
    margin-left: 0px;
    margin-top: 120px;
  }
  .cohorte-inside-style::before {
    display: none;
  }
  .cohorte-inside-style .section-heading p {
    margin-top: 30px;
  }
  .accordion {
    padding: 40px 25px 10px 25px;
  }
}

.cohorte-inside-style {
  position: relative;
  padding: 0px;
  margin-top: 130px;
}

.cohorte-inside-style:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 84%;
  height: 100%;
  background-color: var(--white);
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
}

.cohorte-inside-style .section-heading {
  margin-left: 60px;
  margin-bottom: 0px;
}

.accordion {
  width: 90%;
  margin: -20px auto -40px;
  background-color: var(--main-color);
  border-radius: 40px;
  padding: 60px 50px 50px;
}

.accordion-item {
  background-color: #fff;
  border-radius: 40px !important;
  margin-bottom: 30px;
  border: none;
}

.accordion-item .accordion-button {
  outline: none;
  box-shadow: none;
  border-radius: 40px !important;
}

.accordion-button:not(.collapsed) {
  color: var(--main-color);
  background-color: #fff;
}

h2.accordion-header button {
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 600;
}

.accordion-button::after {
  font-size: 18px;
  font-weight: 500;
  background-image: none;
  content: '+';
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: #fff;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  line-height: 32px;
  content: '-';
}

.accordion-body {
  padding: 0px 25px 30px 25px;
  font-size: 14px;
  line-height: 28px;
  color: #000;
}

.accordion-body span:first-of-type {
  font-weight: 500;
  text-transform: uppercase;
}

.accordion-body span:first-of-type p {
  color: var(--main-color);
  cursor: pointer;
}

























body {
  font-family: 'Rubik', sans-serif;
}

body{
  @apply bg-[#F5F6FA]
}

.app{
  @apply flex justify-center w-full;
}

.layout{
  @apply flex flex-col justify-center items-center max-w-[800px] w-full bg-[#F5F6FA]
}

.comment-layout{
  @apply  w-full flex flex-col gap-2 p-4
}

.comment{
  @apply flex gap-4 rounded-lg bg-[#FFFFFF] w-full h-full p-4 relative min-h-[200px]
}

.comment-score{
  @apply flex flex-col bg-[#F5F6FA] rounded-lg items-center p-2 h-fit mb-auto gap-2
}

.comment-score i{
  @apply text-[#5358B6] opacity-40
}

.comment-score i:hover{
  @apply opacity-100
}

.cusrsor{
  cursor: pointer;
}

.comment-p{
  @apply rounded-lg w-full border-black border-2 h-[100px] p-1 px-6
}

.comment-opt{
  @apply absolute top-4 right-4 flex gap-4
}

.comments-main-section{
  @apply w-full
}

.comment-bottom{
  @apply  w-full flex justify-end
}

.comment-update{
  @apply rounded-md bg-[#5358B6] px-8 p-2 h-fit font-semibold text-white w-[8rem]
}

.comment-headline{
  @apply flex gap-2 w-full items-center
}

.comment-headline .time{
  color: #B5B9BB;
}

.comment-img{
  @apply rounded-full object-cover p-1 bg-white w-10
}

.comment-reply-list{
  @apply flex flex-col gap-2 w-[95%] ml-[5%] pl-[7%] border-l-2 border-[#E8E9ED]
}

.comment-reply{
  @apply min-h-[150px] bg-[#FFFFFF] rounded-lg flex p-4 gap-4
}
.comment-reply .image{
  @apply flex w-10
}

.image-img{
  @apply bg-slate-100 h-fit rounded-full object-cover
}

.form{
  @apply flex w-full gap-4
}

.textarea{
  @apply rounded-lg w-[80%] border-[#E8E9ED] border-2 p-4 px-6
}

.textarea:focus{
  @apply border-[#E8E9ED]
}

.button-r{
  @apply rounded-md bg-[#5358B6] px-8 p-2 h-fit font-semibold text-white w-[8rem]
}

.button-r:hover, .comment-update:hover{
  @apply opacity-60
}

/* .comment-reply{} */

::-webkit-scrollbar{
  width: 3px;
  padding-left: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

.dialog{
  @apply rounded-lg p-6 w-[355px]
}

.title-h1{
  @apply font-extrabold text-lg pb-4
}

.conf-cont{
  @apply text-[#9FA0A3] pb-4
}

.options-conf{
  @apply w-full flex justify-between text-white
}

.no{
  @apply bg-[#68727E] py-2 px-[1.6rem] rounded-lg
}

.yes{
  @apply bg-[#EE6368] py-2 px-[1.6rem] rounded-lg
}

@media only screen and (max-width: 375px) {

  .no,.yes{
    @apply px-[1.25rem] !important
  }

  .comment{
    @apply flex-col-reverse h-fit
  }

  .comment-score{
    @apply flex-row w-fit gap-3
  }

  .comment-opt{
    @apply bottom-2 top-[75%]
  }

  .comment-reply{
    @apply flex-col-reverse h-fit min-h-[180px] relative
  }
  .form{
    @apply flex-col w-full items-end
  }
  .textarea{
    @apply w-full
  }
  .image{
    @apply absolute bottom-4 left-4
  }
  .textarea{
    @apply py-2 px-3 min-h-[90px]
  }
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}